<div id="page1" (click)="changeSlider($event)">
  <div class="cnt-1lt">
    <h1>Este es el titulo</h1>
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ex unde molestiae atque tenetur illo animi
      obcaecati veritatis cupiditate iure? Aperiam repellat numquam quisquam necessitatibus, atque quas natus nulla
      dolores. </h2>
  </div>
</div>
<div id="page2" (click)="changeSlider($event)">
  <div class="cnt-2lt">
    <h1>This is a title</h1>
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ex unde molestiae atque tenetur illo animi
      obcaecati veritatis cupiditate iure? Aperiam repellat numquam quisquam necessitatibus, atque quas natus nulla
      dolores. </h2>
  </div>
</div>
<div id="page3" (click)="changeSlider($event)">
  <div class="cnt-3lt">
    <h1>This is a title</h1>
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ex unde molestiae atque tenetur illo animi
      obcaecati veritatis cupiditate iure? Aperiam repellat numquam quisquam necessitatibus, atque quas natus nulla
      dolores. </h2>
  </div>
</div>
<div id="page4" (click)="changeSlider($event)">
  <div class="cnt-4lt">
    <h1>This is a title</h1>
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ex unde molestiae atque tenetur illo animi
      obcaecati veritatis cupiditate iure? Aperiam repellat numquam quisquam necessitatibus, atque quas natus nulla
      dolores. </h2>
  </div>
</div>
