@if (confirmSelection) {
  <div class="modal-wrapper">
    <div class="modal-validation">
        <img class="selected-competitor-pic" src="../../../assets/HumanResources/1.jpg" alt="selected">
        <div class="selected-competitor-data">
          <h1>{{this.selectedEmployee.name}}</h1>
          <p>{{this.selectedEmployee.area}}</p>
        </div>
        <div class="action-buttons">
          <button (click)="hideModal(false)">Cancelar</button>
          <button (click)="hideModal(true)">Confirmar</button>
        </div>
    </div>
  </div>
}
<div class="wrapper">
  <div class="home-text">
    <p class="animate-text">
      <span>Elige a</span>
      <span>Vota por</span>
      <span>Apoya a</span>
    </p>
    <h1>tu participante favorito</h1>
  </div>

  <div class="list-container">
    <ul class="member-list">
      @for (member of members; track $index) {
      <li class="member-container" [ngClass]="{'grayscale': alreadyVote}">
        <div class="member-data">
          <div class="profile-pic">
            <img src="../../../assets/HumanResources/1.jpg" alt="">
          </div>
          <div>
            <p class="member-name">{{member.name}}</p>
            <p class="member-area">{{member.area}}</p>
          </div>
        </div>
        <div >
          <button class="vote-button" [disabled]="alreadyVote" (click)="processVote($index + 1, member)">Votar</button>
        </div>
      </li>
      }
    </ul>
  </div>
</div>

