<div class="wrapper">
  <header class="header">
    <div class="container">
      <img class="logoContainer" src="./../assets/logoHickory.png" alt="logoHickory">
      <div class="actionButtons">
        <a href="">About Us</a>
        <a href="">Contact Us</a>
        <a id="hickory" href="">Hickory Online</a>
      </div>
    </div>
  </header>
  <br>
  <body class="body">
    <div class="imageShower">
      <app-image-slider></app-image-slider>
      <br>
      <app-principal-content></app-principal-content>
    </div>
  </body>
  <br>
  <footer class="footer">
    <p>Copyright © Hickory Industries, LLC All rights Reserved  </p>
  </footer>
</div>
