<div class="wrapper">
 <header class="header">
    <div class="container">
      <img class="logoContainer" src="./../assets/HickoryIndustries.svg" alt="logoHickory">
      <div class="actionButtons">
        <a href="https://www.hickoryindustries.com">About Us</a>
        <a href=" https://wa.me/18097542316">Contact Us</a>
        <a id="hickory" href="https://hickoryindustries.com/#/login-form">Hickory Online</a>
      </div>
    </div>
  </header>
  <body class="body">
    <div class="imageSlider">
      <app-image-slider></app-image-slider>
      <br>
      <app-principal-content></app-principal-content>
      <!-- <div class="break-page">
        <img src="../assets/ripped.png" alt="ripped">
        <br>
      </div> -->
      <br>
        <article>
          <div class="carrousel">
            <ul>
              <li><img src="../assets/Fairfield.png" alt="Fairfield"></li>
              <li><img src="../assets/mccreary.png" alt="McCreary"></li>
              <li><img src="../assets/Pollywood.png" alt="McCreary"></li>
              <li><img src="../assets/woodhaven.png" alt="McCreary"></li>
            </ul>
          </div>
          <div class="carrousel">
            <ul>
              <li><img src="../assets/Fairfield.png" alt="Fairfield"></li>
              <li><img src="../assets/mccreary.png" alt="McCreary"></li>
              <li><img src="../assets/Pollywood.png" alt="McCreary"></li>
              <li><img src="../assets/woodhaven.png" alt="McCreary"></li>
            </ul>
          </div>
        </article>
      </div>
  </body>
  <br>
  <footer class="footer">
    <div class="footer-left">
      <img src="../assets/logoHickory.png" alt="logo">
      <p>Copyright © Hickory Industries, LLC All rights Reserved 2021</p>
    </div>
    <div class="footer-right">
      <p (click)="onCopyToClipboard($event)">{{ 'G.mena@HickoryIndustries.com' }}</p>
      <p id="telNumber" (click)="onCopyToClipboard($event)">(829)-762-8364</p>
      <p (click)="onCopyToClipboard($event)">(809)-754-2316</p>
    </div>
  </footer>
</div>
