:root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.wrapper{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #272727;

  .header {
    display: flex;
    position: sticky;
    align-items: center;
    height: 90px;
    width: 100%;
    top: 0;
    padding: 5px;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: -2px 5px 10px 0px rgba($color: #000000, $alpha: 0.4);
    border-bottom: solid 1px #333333;
    background-color: #1a1a1a;
    // border: solid 1px rgb(224, 224, 224);
    box-sizing: border-box;

    .container {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .logoContainer {
        margin: 2px;
        height: 90%;
        width: 205px;
        object-fit: cover;
      }

      .actionButtons {
        display: flex;
        align-items: center;

        a {
          font-size: large;
          margin-right: 15px;
          font-family: "Roboto", sans-serif;
          font-weight: 550;
          font-style: normal;
          color: #0f67af;
          text-decoration: none;
        }

        #hickory {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          color: #fff;
          background-color: #0f67af;
          padding-left: 10px;
          width: 140px;
          height: 50px;
          box-shadow: 1px 3px 2px 0px rgba($color: #000000, $alpha: 0.3);
        }
      }
    }
  }

  .body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;

    .imageShower {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      .break-page{

        img{
          width: 100%;
          background-color: #FCF5D8;
        }
      }
    }
    // box-shadow: 0px 10px 15px 5px rgba($color: #3d3d3d, $alpha: 0.2);
  }

  .footer{
    padding: 10px;
    width: 100%;
    height: 100px;
    background-color: #202020;
    color: #ffffff;
    box-sizing: border-box;
  }
}
