<div class="wrapper">
 <header class="header">
    <div class="container">
      <img class="logoContainer" src="./../assets/logoHickory.png" alt="logoHickory">
      <div class="actionButtons">
        <a href="https://www.hickoryindustries.com">About Us</a>
        <a href=" https://wa.me/18097542316">Contact Us</a>
        <a id="hickory" href="https://hickoryindustries.com/#/login-form">Hickory Online</a>
      </div>
    </div>
  </header>
  <br>
  <body class="body">
    <div class="imageShower">
      <app-image-slider></app-image-slider>
      <br>
      <app-principal-content></app-principal-content>
      <div class="break-page">
        <img src="../assets/ripped.png" alt="ripped">
      </div>
    </div>
  </body>
  <br>
  <footer class="footer">
    <p>Copyright © Hickory Industries, LLC All rights Reserved  </p>
  </footer>
</div>
