<div class="wrapper">
  <div class="title-container">
    <h2>Escanea y</h2>
    <h1>Vota Aqui!</h1>
  </div>
  <div class="content">
    <div class="qr-container">
      <img src="../../../assets/HumanResources/qr-code.png" alt="qr">
      <h1>Escanea!</h1>
    </div>
  </div>
  <div class="announcment">
    <div class="requirements-container">
      <h1>Pasos a seguir:</h1>
      <ul>
        <li>• Escanea el codigo QR con tu dispositivo</li>
        <li>• Ingresa tu codigo de empleado</li>
        <li>• Entra en la pagina y ubica a tu candidato favorito</li>
        <li>• Checkea tu cantidato favorito</li>
        <li>
          <img src="../../../assets/HumanResources/profile.svg" alt="vote">
        </li>
        <li>• Listo! has realizado tu voto.</li>
        <li>
          <!-- <img id="hickory" src="../../../assets/HickoryIndustries.svg" alt="logo"> -->
        </li>
      </ul>
    </div>
  </div>
</div>
