* {
  box-sizing: border-box;
  user-select: none;
}

.wrapper-header {
  width: 100vw;
  box-sizing: border-box;

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logoContainer {
      width: 190px;
      padding-left: 15px;
      object-fit: scale-down;
    }

    .actionButtons {
      display: flex;
      align-items: center;
      margin-right: 15px;

      a {
        text-align: center;
        font-size: large;
        font-family: "Roboto", sans-serif;
        font-weight: 550;
        font-style: normal;
        color: #c4c4c4;
        text-decoration: none;
        margin-right: 15px;
        &:hover {
          color: #fff;
        }
      }

      #hickory {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        color: #fff;
        background-color: #0f67af;
        width: 140px;
        height: 45px;
        box-shadow: 1px 3px 2px 0px rgba($color: #000000, $alpha: 0.3);
        text-shadow: 1px 1px 1px black;

        &:hover {
          background-color: #1078ce;
        }
      }
    }
  }
}
