.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;

  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, fit-content);
    gap: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    .content-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 15px;
      border: solid 1px #4f4f4f;
      padding: 10px;
      box-sizing: border-box;
      background-color: #646464;
      text-align: center;
      grid-area: 1 / 1 / 2 / 3;
      box-shadow: -2px 5px 10px 0px rgba($color: #000000, $alpha: 0.4);

      h1 {
        text-align: start;
        padding-left: 15px;
        color: #FEF6E7;
        font-weight: 500;
        font-size: 29px;
      }

      .leyend {
        text-align: start;
        word-break: normal;
        padding-left: 15px;
        color: #e9e9e9;
        justify-content: flex-start;
        font-size: 24px;
        font-weight: 350;
      }

      img {
        border-radius: 15px;
        height: 320px;
        object-fit: cover;
      }
    }

    .content-2 {
      grid-area: 2 / 1 / 3 / 2;
      padding: 10px;
      overflow: hidden;
      width: 95vw;
      border: solid 1px red;

      .image-slider {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 600px;
        width: 100%;
        transition: all ease-in-out .5s;

        img {
          margin:  0 25px 0 25px;
          object-fit: scale-down;
          transition: all ease-in-out .5s;
          user-select: none;

          &:hover{
            transform: scale(1.05);
          }
        }

        @keyframes slider {
          // 0% {
          //   transform: translateX(-100%);
          // }

          // 100% {
          //   transform: translateX(0%);
          // }

        }
      }
    }
  }
}
