<div class="container-2">
  <panning-container #panner="panning-container">
    @for (item of arImages; track $index) {
    <ng-container *panningItem>
      <div class="item" [ngClass]="{ current: $index === panner.currentIndex }" (click)="updatePosition($event, $index)"
        (click)="panner.shift(1)">
        <img class="slide-img" [src]="item.src" [alt]="item.alt" [ngClass]="{
                    'current': selectedImage == $index,
                    'next': $index > selectedImage,
                    'prev': selectedImage > $index,
                  }
                  ">
      </div>
    </ng-container>
    }
  </panning-container>
</div>
<br>
<div class="container-3">
  <div class="content-sm">
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122800.96838458425!2d-70.67653297021816!3d19.35401442849668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eb1cf1c9412964b%3A0x6b2fa97ecff77f6e!2sHickory%20Manufacturing%20DR%2C%20SRL!5e0!3m2!1ses-419!2sdo!4v1709171737705!5m2!1ses-419!2sdo"
        async defer width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="description">
      <h2>¿Donde encontrarnos?</h2>
      <h3>Modulo A11, Caribbean Industrial Park, carretera matanzas, puñal o por la Av. Hispanoamericana</h3>
    </div>
  </div>
  <div class="content-sm">
    <img src="../../assets/Hickory.jpg" alt="Hickory">
    <div class="description">
      <h2>Conoce de Nosotros</h2>
      <h3>Conoce sobre nuestra mision y vision, instalaciones y equipo de trabajo</h3>
    </div>
  </div>
  <div class="content-sm">
    <img src="../../assets/Hikcowry.jpg" alt="">
    <div class="description">
      <h2>[Texto de ejemplo]</h2>
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, ut est facere a consequatur sequi quibusdam
        suscipit reprehenderit laborum. Quidem placeat excepturi qui minima aspernatur cumque repellendus a dignissimos
        eaque.</h3>
    </div>
  </div>
</div>
<br>
<div class="container-4">
  <div id="page1" (click)="changeSlider($event)">
    <div class="container-1lt">
      <h1>Este es el titulo</h1>
      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ex unde molestiae atque tenetur illo animi
        obcaecati veritatis cupiditate iure? Aperiam repellat numquam quisquam necessitatibus, atque quas natus nulla
        dolores. </h2>
    </div>
  </div>
  <div id="page2" (click)="changeSlider($event)">
    <div class="container-2lt">
      <h1>This is a title</h1>
      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ex unde molestiae atque tenetur illo animi
        obcaecati veritatis cupiditate iure? Aperiam repellat numquam quisquam necessitatibus, atque quas natus nulla
        dolores. </h2>
    </div>
  </div>
  <div id="page3" (click)="changeSlider($event)">
    <div class="container-3lt">
      <h1>This is a title</h1>
      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ex unde molestiae atque tenetur illo animi
        obcaecati veritatis cupiditate iure? Aperiam repellat numquam quisquam necessitatibus, atque quas natus nulla
        dolores. </h2>
    </div>
  </div>
  <div id="page4" (click)="changeSlider($event)">
    <div class="container-4lt">
      <h1>This is a title</h1>
      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque ex unde molestiae atque tenetur illo animi
        obcaecati veritatis cupiditate iure? Aperiam repellat numquam quisquam necessitatibus, atque quas natus nulla
        dolores. </h2>
    </div>
  </div>
</div>
