<div class="wrapper">
  <div class="container">
    <br>
    <div class="content-1">
      <div class="text">
        <h2 style="text-align: start; padding-left: 10px; color: rgb(187, 114, 255); font-weight: 500;">Our story</h2>
        <h1>What is Hickory Industries?</h1>
        <h2 class="leyend">A US Company, Hickory Industries LLC is the parent company and sole owner of Hickory Manufacturing DR, SRL. Hickory Industries provides a domestic face to world
          class nearshore cut and sew services. Our customers are among the top US furniture manufacturers. With operations beginning in 2007 in Nicaragua and our move to the
            Dominican Republic in 2021 we have become indispensable to our customers by helping them grow in the face of domestic labor shortages and growing problems with
            international logistics. Hickory Industries’ products can be found in leading national home furnishings stores and showrooms throughout the US and beyond.</h2>
          </div>
        <img src="../../assets/Sofa.png" alt="">
    </div>
    <div class="content-2">
      <div class="image-slider" id="inner-slider">
        @for (image of images; track $index) {
          <img [src]="image.src" [alt]="image.alt" (click)="reposition($event, $index)">
        }
      </div>
  </div>
</div>
