* {
  box-sizing: border-box;
}

.slideShow-container{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  &::after{
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }

  .arrow-container{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 45%;
    width: 98%;
    height: fit-content;
    user-select: none;
    box-sizing: border-box;
    z-index: 3;

    .left-arrow{
      box-sizing: border-box;
      scale: 2;
      color: #d6d6d6;
      cursor: pointer;

    }

    .right-arrow{
      box-sizing: border-box;
      scale: 2;
      color: #d6d6d6;
      cursor: pointer;
    }

  }

  img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    user-select: none;
    box-sizing: border-box;
    box-shadow: -2px 5px 10px 0px rgba($color: #000000, $alpha: 0.2);
    border-bottom: solid 1px #8b8b8b;
  }

  .leyend{
    width: 50%;
    height: fit-content;
    position: absolute;
    top: 20%;
    left: 5%;
    border-radius: 5px;
    z-index: 3;

    .big_Title {
      font-size: 9em;
      width: 620px;
      font-weight: 400;
      line-height: 1em;
      margin-bottom: 162px;
      font-style: normal;
      color: #d6c8a3;
      text-shadow: 3px 3px 2px black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
    }

    .lit_Title {
      font-size: 4em;
      padding-left: 10px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 400;
      line-height: 1.5em;
      margin-bottom: 2px;
      font-style: normal;
      color: #ebe3cd;
      text-shadow: 2px 2px 2px black;
    }

    .slogan {
      width: 417px;
      font-size: 4.5em;
      font-family: "Satisfy", cursive;
      font-optical-sizing: auto;
      font-weight: 400;
      line-height: 2.0em;
      margin-left: 30px;
      margin-bottom: 6px;
      color: #ffffff;
      text-shadow: 2px 2px 2px black;
    }

    .big_Subtitle{
      color: #ececec;
      font-size: 3.5em;
      word-wrap: break-word;
      text-shadow: 2px 2px 2px black;
      line-height: 55px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    .lit_Subtitle{
      color: #ececec;
      font-size: 2.8em;
      word-wrap: break-word;
      text-shadow: 2px 2px 2px black;
      line-height: 55px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    .leyend_img{
      max-width: 1000px;
      height: 300px;
      max-height: 500px;
    }

    .footer{
      width: 100%;
      font-size: 4.5em;
      font-family: "Satisfy", cursive;
      font-optical-sizing: auto;
      font-weight: 400;
      line-height: 2.0em;
      margin-left: 53px;
      margin-bottom: 6px;
      color: #ffffff;
      text-shadow: 2px 2px 2px black;
    }
  }
}

