.slideShow-container{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 700px;
  box-sizing: border-box;

  .arrow-container{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 45%;
    width: 98%;
    height: fit-content;
    user-select: none;
    box-sizing: border-box;

    .left-arrow{
      box-sizing: border-box;
      scale: 2;
      color: #d6d6d6;
      cursor: pointer;

    }

    .right-arrow{
      box-sizing: border-box;
      scale: 2;
      color: #d6d6d6;
      cursor: pointer;
    }
  }

  img{
    width: 100%;
    object-fit: cover;
    user-select: none;
    box-sizing: border-box;
    box-shadow: -2px 5px 10px 0px rgba($color: #000000, $alpha: 0.4);
    border-bottom: solid 1px #8b8b8b;
  }
}
