<div class="slideShow-container">
  <div class="arrow-container">
    <mat-icon class="left-arrow" (click)="onPreviousClick()">keyboard_arrow_left</mat-icon>
    <mat-icon class="right-arrow" (click)="onNextClick()">keyboard_arrow_right</mat-icon>
  </div>
  @for (slide of arSlides; track $index) {
    @if ($index === vaCurrentSlide) {
      @if (slide.leyend) {
        <div class="overImage">
        <h1>{{slide.leyend.header}}</h1>
        <h2>{{slide.leyend.body}}</h2>
        <h3>{{slide.leyend.footer}}</h3>
        <button class="contact">Contactanos</button>
        </div>
      }
      <img [src]='slide.url' [alt]="slide.title">
    }
  }
</div>
